.post_container {
  text-align: center;
  padding: 0 20px;
}

.post_container h3 {
  margin-bottom: 0.2em;
}
.post_container img {
  width: 350px;
}
.post_container .tags {
  display: flex;
  justify-content: center;
}
.post_container p{
  text-align: justify;
  font-size: 18px;
}
.tags p {
  font-size: 12px;
  margin-right: 0.5em;
}

.tags span {
  font-weight: bold;
}
