.post_container {
  text-align: justify;
  padding: 0 20px;
}

.post_container h3 {
  margin-bottom: 0.2em;
}
.post_container img {
  width: 100px;
}

.post_container .tags {
  display: flex;
  justify-content: center;
}

.tags p {
  margin-right: 1em;
}

.tags span {
  font-weight: bold;
}
