/* Adicione essas regras CSS ao seu arquivo Navbar.module.css */

.navbar {
  display: flex;
  background-image: linear-gradient(to left, #333, #000);
  color: #fff;
  box-shadow: rgba(0, 0, 0, 0.725) 0px -2px 10px 0px;
  justify-content: space-between;
  align-items: center;
  padding: 1em 2em;
}

.brand {
  font-size: 1.2em;
}

.brand span {
  font-weight: 100;
  text-transform: uppercase;
}

.links_list {
  display: flex;
  list-style: none;
}

.links_list li {
  margin-right: 1em;
}

.links_list li a {
  padding: 0.4em 0.6em;
}
.toggleButton{
  display: none;
}
.active {
  background-color: #000;
  color: #fff;
}

.apce {
  color: #000 !important;
}

/* Estilos para tela pequena */
@media (max-width: 768px) {
  .navbar {
    flex-direction: column;
    align-items: flex-start;
  }

  .links_list {
    flex-direction: column;
    align-items: flex-start;
  }

  .links_list li {
    margin-left: -35px;
    margin-right: 0;
    margin-bottom: 10px;
  }

  .toggleButton {
    display: block;
    background-color: transparent;
    color: #fff;
    border: none;
    font-size: 1.2em;
    cursor: pointer;
    margin-top: 5px;
    align-items: center;
  }
  .toggleButton span{
    font-size: 12px;
  }
  .material-symbols-outlined {
    margin-top: 10px;
    font-variation-settings:
    'FILL' 0,
    'wght' 400,
    'GRAD' 0,
    'opsz' 24,
    'color' #fff
  }

  .links_list {
    display: none;
  }

  .menuOpen .links_list {
    display: flex;
  }
}
